* {
  font-size: 12px;
}

*.work {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*#id {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.read-the-docs {
  color: #888;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

a_button_a {
  color: #888;
}

.button {
  color: #909090;
}

button {
  color: #888;
}
