button {
  color: #888;
}

button_a {
  color: #888;
}

a_button {
  color: #888;
}

a_button_a {
  color: #888;
}

.button {
  color: #909090;
}

a {
  color: #888;
}

ul {
  color: #888;
}

d {
  color: #888;
}
